[MMM-physics]
local_path = ./physics_mmm
protocol = git
repo_url = https://github.com/Yi-ChuanLO/MMM-physics/
#tag = fb0f335
tag = 0ea59b1

required = True

[externals_description]
schema_version = 1.0.0
